.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  img {
    object-fit: cover;
    width: 100%;
    height: 66%;
  }
}

.grid-container p {
  display: flex;
  justify-content: space-between;
  border: 1px solid #808080;
  padding: 1rem 0.75rem;
  color: black;
  font-size: 12px;
}
.content-area {
  display: flex;
  margin-bottom: 3rem;
}

.taxonomy-description p {
  display: none;
}
.page-title {
  display: none;
}

.shop-stuff h1 {
  display: flex;
  justify-content: center;
}
.desw-links ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 40px;
  padding-left: 84px;
  border-bottom: 1px dotted #a1a1a1;
}
.links li {
  margin-right: 35px;
}
.links a {
  text-decoration: none;
  font-size: 20px;
  color: #248a83;
}
.nav-previous {
  display: none;
}
