.wood-bkgd {
    height: 360px;
    width: 100%;
}

.info-block {
    // position: relative;
    // left: 200px;
    display: flex;
    flex-direction: row;

}

.footer-block {
    display: flex;
    flex-wrap: nowrap;
}

.contact {
    color: #d99054;

}

.bus-hours {
    color: #d99054;

}

.tent-logo {
    height: 50px;
    width: 280px;
}

.tree {
    background-color: gray;
}