

.wood-bkgd {
   display: flex;
    height: 300px; 
    width: 100%;
 
}

#info-block{
    display: flex;

}
#footer-block{
    flex-direction: column-reverse;
  
    
}


.contact{
    background-color: black;
    width: 250px;
}

.contact h3 {
    color: #d99054;
    background-color: black;
}

.contact i {
    color: white;
}


.contact a {
    text-decoration: none;
}

.contact p {
    color: white;
    background-color: black;
}



.bus-hours h3 {
    color: #d99054;
    background-color: black;
    width: 250px;
}


.bus-hours p {
    color: white;
    background-color: black;
    width: 250px;
}

.tree {
    height: 50px;
    width: 280px;
    background-color: black;

}

.copyright {
    color: white;
    background-color: black;
    width: 250px;
    
}