
.footer{
    background-image: url("../../images/dark-wood.png");
    height: 300px;
    width: 100vw;    
}
.info-container{
    display: flex;
    

}

.footer-block{
    font-size: 13px; 
    flex-direction: row;  
    flex: 1;
}

#contact{
    font-size: 13px;
    flex: 1; 
    margin:30px ;
    padding-left: 125px;
   
}

#contact h3 {
    color: #d99054;
   
}

#contact i {
    color: white;
}


#contact a {
    text-decoration: none;
}

#contact p {
    color: white;
    
}


#bus-hours{
    font-size: 13px; 
    flex: 1;
    padding-top: 30px;  
}
#bus-hours h3 {
    color: #d99054;
   
    width: 250px;
}




#bus-hours p {
    color: white;
    width: 250px;
}

#tree {
    height: 45px;
    flex: 2;
    margin: 52px 0;

}

.copyright {
    font-size: 13px; 
    display: flex;
    justify-content: center;
    color: white;   
    margin-top: 76px; 
}