.background-container {
  position: relative;
}

.hero-image {
  object-fit: cover;
  height: 400px;
  width: 100vw;
}

.round-tent-logo {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 0;
  transform: translate(274%, 101%);
}

.h2-container {
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin: 45px 0px 45px 0px;
}

.product-block {
  width: 215px;
  display: flex;
  border: 1px solid #a1a1a1;
}
.i-image {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  img {
    height: 70px;
    width: 70px;
  }
}

.product-container {
  display: flex;
  justify-content: center;
}

.product-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  font-size: 12px;
  padding: 0px 10px 0px 10px;
}

.do-buttons {
  background-color: #248a83;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin-top: -11px;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

.journal-container {
  display: flex;
  // justify-content: space-evenly;
  width: 106%;
  justify-content: center;

  .journal-entry {
    width: 26.333%;
  }
}

.journal-meta {
  height: 100px;
  border: 1px dotted#a1a1a1;
  margin-left: 10px;
  margin-right: 10px;

  a {
    color: red;
  }
}

.media-container {
  // width: 100%;
  margin: 0 auto;
  h2 {
    margin-top: -50px;
  }
}
.post-picture-container {
  display: flex;
  max-height: 17vw;
  max-width: 33vw;
  margin-left: 10px;
  margin-right: 10px;
}
