.site-header {
  height: 50px;
  display: flex;
  // z-index: 99;
  background: rgba(white, 0.5);
  border-bottom: 1px solid #e1e1e1;

  &.sticky {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}
.search-form {
  border: 0;
  fieldset {
    border: 0;
  }
  .search-field {
    // display: none;
  }
  button {
    background: transparent;
    border: 0;
    box-shadow: unset;
  }
}
#site-navigation {
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.nav-container {
  display: flex;
}

.site-header a {
  margin-right: 16px;
  color: #248a83;
}

.tent-logo {
  color: #248a83;
  height: 50px;
  width: 45px;
  margin-left: 140px;
}

.fa.fa-search {
  color: #248a83;
}
