.title-block {
  background-color: #248a83;
  width: 400px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
}
#secondary{
  // display: flex;
  // flex-direction:column-reverse;
  
 
 
}
.content-area{
  display: flex;
  main{
    flex:1 0 70%;
  }
  .widget-area{
    flex:1 0 30%
    
  }
}
.entry-content{
  padding-right: 80px;

}
.entry-meta {
  color: white;
  height: 36px;
  width: 400px;
  background-color: #248a83;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 82px;
}

.comments-link a {
  color: white;
  text-decoration: none;
}

.title-block a {
  text-decoration: none;
}

.entry-header {
  position: relative;
}
.site-main{
  margin-top: 30px;
}
