#site-navigation {
    //main page links
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
  
}

.main-navigation a {
    //main page links spacing
    padding: 5px;
 
}

.wp-image-24 {
    width: 100vw;
}