
// .content-area {
//   max-width: 1120px;
//   margin: auto 0;
// }

.widget-area {
  padding-left: 20px;
  border-left: 1px solid #e1e1e1;
}

.entry-header {
  display: flex;
  flex-direction: column;
}
