.site-content {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
}
.content-area {
  display: flex;
  justify-content: center;
  flex: 2;
  padding-left: 60px;
  padding-right: 60px;
  // position: relative; 
  
}
.widget-area {
  flex: 1;
}

