#site-navigation {
  display: flex;

}

.entry-content {
  // <p>
  padding: 30px 0 0 0;
  width: 640px;
  font-size: 12px;
  position: relative;
  bottom: 190px;
}

.entry-title {
  width: 400px;
  color: white;
  font-size: 26px;
  position: relative;
  bottom: 460px;
  left: 15px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

#secondary {
  //Sidebar Widget area
  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 125px;
  right: 120px;
}


#archives-3 {
  position: relative;
  top: 425px;
  left: 215px;
}

.title-block {
  background-color: #248a83;
  height: 80px;
  width: 480px;
  position: absolute;
  top: 150px;
  left: 48px;
  z-index: 1;
}

.author-block {
  color: white;
  background-color: #248a83;
  height: 32px;
  width: 315px;
  position: absolute;
  bottom: 212px;
  left: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-block a {
  color: white;
}

.entry-meta {
  position: relative;
  top: 400px;
}

#comments {
  position: absolute;
}