#site-navigation {
  display: flex;

}

.entry-meta {
  color: white;
  position: absolute;
  bottom: 7px;
  left: 290px;
  height: 36px;
  width: 350px;
  background-color: #248A83;
  display: flex;
  align-items: center;
  justify-content: center;

}

.entry-header {
  position: relative;
  margin-top: 5rem;
}

#page {
  margin-left: 6rem;

}

.entry-content {

  width: 640px;
  font-size: 16px;

}

.comments-link a {
  color: white;
  text-decoration: none;
}

.entry-title {
  width: 400px;
  color: white;
  font-size: 26px;
  z-index: 2;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-block {
  background-color: #248a83;
  height: 80px;
  width: 480px;
  display: flex;
  flex-direction: flex-start;
  position: absolute;
  top: 0;
  z-index: 1;
}

#secondary {
  //Sidebar Widget area
  color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 125px;
  right: 140px;
  border-left: 1px dashed #c8c8c8;
}


#archives-3 {
  position: relative;
  top: 425px;
  left: 215px;
}



#tent-biz-hours-3 {
  border-left: 1px dashed #c8c8c8;

}